DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/energy_optimization
APP_NAME=AI-Powered Energy Consumption Optimization & Cost Reduction System
REPORTS_DIR=../reports
DATASET_DIR=../dataset
MODELS_DIR=./models
ALLOWED_ORIGINS=http://localhost:3000
